:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --warning: #f39c12;
  --on-background: #ffffff;
  --on-background-grey: #c7c7c7;
  --on-surface: #ffffff;
}

[data-theme="light"] {
  --background: #dddddd;
  --suface: #ffffff;
  --on-background: #333333;
  --on-background-grey: #6d6d6d;
  --on-surface: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--on-background);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f1f1f1;
}

.app-container {
  color: var(--on-background);
  background-color: var(--background);
  min-height: 100vh;
  transition: all ease-in-out 0.5s;
}

header {
  background: var(--surface);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--on-surface);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header h1 {
  font-size: 20px;
  font-weight: bold;
}

header .navigation ul li {
  display: inline-block;
  font-size: 24px;
  margin: 0 8px;
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}

.notes-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px 8px;
}

.notes-list-empty {
  margin-top: 32px;
  padding: 16px 8px;
}

.notes-list-empty p {
  text-align: center;
  color: var(--on-background-grey);
}
.note-item {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  border-top: 5px solid;
}

.note-item__title {
  margin: 4px 0;
}

.note-item__createdAt {
  color: var(--on-background-grey);
  font-size: 14px;
  margin: 4px 0;
}

.note-item__body {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
}

.detail-page__title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page__createdAt {
  color: var(--on-background-grey);
}

.detail-page__body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}

.detail-page__action,
.homepage__action,
.add-new-page__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.add-new-page {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--on-background);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2 ease;
}

.action:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 218, 198, 0.4);
}

.add-new-page__input {
  margin-top: 0;
  padding: 32px 0;
}

.add-new-page__input .add-new-page__input__title {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 8px 0;
  margin-bottom: 16px;
}

.add-new-page__input__title::placeholder {
  color: var(--on-background-grey);
}

.add-new-page__input .add-new-page__input__body {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 8px 0;
  padding-bottom: 100px;
  min-height: calc(100vh - 200px);
  line-height: 1.6;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--on-background-grey);
}

.search-bar input {
  margin: 16px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: 1px solid var(--on-background);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: var(--on-background);
}

.search-bar input::placeholder {
  color: var(--on-background-grey);
}

.toggle-theme,
.toggle-locale {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--on-background);
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.toggle-theme {
  font-size: 36px;
}

.toggle-locale {
  font-size: 28px;
}

.input-login,
.input-register {
  margin: 32px 0;
}

.input-login label,
.input-register label {
  font-size: 24px;
  font-weight: lighter;
}

.input-login input,
.input-register input {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid var(--on-background);
  color: var(--on-background);
}

.input-login button,
.input-register button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--on-background);
  color: var(--background);
  cursor: pointer;
}

.button-logout {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 0;
  font-size: 28px;
  cursor: pointer;
  color: var(--on-background);
}

@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page__title {
    font-size: 64px;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #2d3436;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navigation__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation__links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #dfe6e9;
  font-weight: 500;
  transition: color 0.2s;
}

.navigation__links a:hover {
  color: #00cec9;
}

.active-link {
  font-weight: bold;
  color: #61dafb; /* warna biru ala React */
}

body {
  padding-top: 70px;
}
